PATH=$HOME/.local/bin:$PATH

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Lines configured by zsh-newuser-install
HISTFILE=$HOME/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt autocd beep nomatch
bindkey -e
# End of lines configured by zsh-newuser-install

# Plugins (Antigen
source $HOME/.config/zsh/antigen.zsh
antigen bundle branch
antigen bundle command-not-found
antigen bundle dirhistory
antigen bundle docker-compose
antigen bundle elixir_mix
antigen bundle emoji
antigen bundle emoji-clock
antigen bundle git
antigen bundle git-remote-branch
{{ if eq .chezmoi.os "linux" -}}
antigen bundle helm
{{ end -}}
antigen bundle history
antigen bundle kubetail
antigen bundle node
antigen bundle npm
antigen bundle rsync
antigen bundle ssh-agent
antigen bundle systemd
antigen bundle themes
antigen bundle tig
antigen bundle zsh-completions

antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-history-substring-search ./zsh-history-substring-search.zsh

antigen theme romkatv/powerlevel10k

antigen apply

{{ if eq .chezmoi.os "darwin" -}}
. $(brew --prefix asdf)/libexec/asdf.sh
{{ else if eq .chezmoi.os "linux" -}}
. $HOME/.asdf/asdf.sh
{{ end -}}

fpath=(${ASDF_DIR}/completions $fpath)
fpath=($HOME/.config/zsh/completions $fpath)

# The following lines were added by compinstall
zstyle :compinstall filename '/home/alexis/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# Load aliases from .aliases
source $HOME/.aliases

# set essential variables
export EDITOR=vim
export BROWSER=brave
export MANPAGER="sh -c 'col -bx | bat -l man -p'"


# z Support
[[ -r "/usr/share/z/z.sh" ]] && source /usr/share/z/z.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
